<% layout('layouts/boilerplate.ejs')%>
<%- include('mixins/mixins.ejs')%><!--mixin also have acces to payload;-->
<div class="postsContainer">

</div>
<%- include('mixins/createReplyModel.ejs')%>
<%- include('scripts/home_script.ejs')%>