<% layout('layouts/boilerplate.ejs')%>

<div class="chatPageContainer">
    <div class="chatTitleBar">
        <label for="userSearchTextbox">To:</label>
        <div id="selectedUsers">
            <input type="text" id="userSearchTextbox" placeholder="Type the name of the person">
        </div>
    </div>
    <div class="resultsContainer">

    </div>
    <button id="createChatButton" disabled>Create Chat</button>
</div>


