<% layout('layouts/boilerplate.ejs')%>

<!--<div class="loadingSpinnerContainer">
    <img src="https://res.cloudinary.com/devcacmp/image/upload/v1624801291/loadingSpinner_lejth0.gif" alt="Loading spinner">
</div>-->

<div class="resultsContainer">

</div>


<%- include('scripts/notificationsPage_script.ejs')%>